$logo-primary-color: #008080;
$background-color-base: #46c3ac;

.flex-col-center {
  display: flex;
  justify-content: center;
}

.flex-vertical-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}

.top-with-margin {
  padding-top: 1rem;
  // border-top: 1px solid #dcdfe6;
  margin-top: 0.5rem;
}